@using CollabClothing.ViewModels.Catalog.Products
@using Microsoft.Extensions.Configuration
@model HomeViewModel
@inject IConfiguration Configuration;

<input type="hidden" />
 <div class="col l-12 m-12 c-12">
  <div class="container-product">
   <div class="row no-gutters phone-products" id="content">
	<!-- Thêm từng điện thoại vào -->
				@foreach (var item in Model.GetProductOutStanding)
				{
		<div class=" productCount col l-2-4 l-3-m m-4 c-6">
		 <div class="container-product__item">
		  <div class="container-product__item-heading">
		   <div class="container-product__item-img">
			<img src="@Configuration["BaseAddress"]@item.ThumbnailImage" />
		   </div>

		   <div class="container-product-guarantee">
			<a href='#' class="container-product__item-link">
			 <div class="container-product-guarantee__heading">
			  <img src="https://mobilecity.vn/public/assets/img/icon-mobilecity-care.png"
											 alt="Guarantee"
											 class="container-product-guarantee__heading-img">
			  <h3 class="container-product-guarantee__heading-text">
			   CollabClothing
			  </h3>
			 </div>

			 <ul class="container-product-guarantee__list">
			  <li class="container-product-guarantee__item">
			   Hỗ trợ đổi trả trong
			   vòng 7 ngày
			  </li>
			  <li class="container-product-guarantee__item">
			   Cam kết hàng chính
			   hãng
			  </li>
			  <li class="container-product-guarantee__item">
			   Tặng Voncher cho các
			   lần mua sau
			  </li>
			  <li class="container-product-guarantee__item">
			   Hoàn tiền nếu phát
			   hiện hàng giả
			  </li>
			 </ul>
			</a>
			<a href='#' class="container-product-guarantee__btn">Bảo hành vàng</a>
		   </div>
		  </div>
		  <div class="container-product__item-wrap">
		   <div class="container-product__item-info">
			<a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id" class="container-product__item-name">
										@item.ProductName
			</a>
			<i class="container-product__item-sale-icon fas fa-gift"></i>
		   </div>
								@{
									// define format VND
									var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

								}
		   <div class="container-product__item-buy">
			<span class="container-product__item-price">
										@*@Model.ParseToVND(@item.PriceCurrent)*@

			 <div class="cta-btn">
			  <span class="old-price">@String.Format(format, "{0:c0}", @item.PriceOld )</span>
			  <span class="new-price">@String.Format(format, "{0:c0}", @item.PriceCurrent )</span>
			 </div>
			</span>
			<a href='#' class="container-product__item-btn" data-id="@item.Id"><localize>MUA</localize></a>
		   </div>
		  </div>
		  <ul class="container-product__item-gifts-list">
		   <li class="container-product__item-gift">
			1. Cam kết:
			<span class="container-product__item-gift--highlight">
			 Hàng chính hãng
			</span>
			khi mua BHV
		   </li>
		   <li class="container-product__item-gift">
			2. Voncher:
			<span class="container-product__item-gift--highlight">
			 Lên tới 100k
			</span>
		   </li>
		  </ul>
		  <ul class="container-product-marker__list">
		   <li class="container-product-marker__item container-product-marker__item--new">
			Mới
		   </li>
		   <li class="container-product-marker__item container-product-marker__item--hot">
			Hot
		   </li>
		  </ul>
		 </div>
		</div>
				}

   </div>
  </div>
 </div>
  <div class="col l-12 m-12 c-12">
  <div class="container-view-more">
   <a class="container-btn-extend" href="/danh-muc/@Model.slug">Xem thêm</a>
  </div>
 </div>