@using CollabClothing.ViewModels.Common
@model PageResult<CollabClothing.ViewModels.System.Users.UserViewModel>

@{
    ViewData["Title"] = "Danh sách tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
 <div class="header-sub-title">
  <nav class="breadcrumb breadcrumb-dash">
   <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
   <a class="breadcrumb-item" asp-controller="User" asp-action="Index">Danh sách tài khoản</a>
  </nav>
 </div>
</div>
<div class="card">
 <div class="card-body">
  <div class="row m-b-30">
   <div class="col-lg-8">
    <div class="d-md-flex">
     <div class="m-b-10 m-r-15">
     </div>
     <div class="m-b-10">
        <form asp-action="Index" method="get">
            <div class="input-affix m-b-10">
                    <i class="prefix-icon anticon anticon-search"></i>
                    <input type="text" class="form-control" placeholder="Tìm kiếm" name="keyword" value="@ViewBag.Keyword">
            
                <div class="col-md-7">
                    <button type="submit" class="btn btn-primary">Tìm</button>
                    <button type="button" onclick="window.location.href='/User/Index'" class="btn btn-dark">Tất cả</button>
                </div>
            </div>
        </form>
          <select class="custom-select" style="min-width: 180px; margin-top: 15px;" id="txtRole" name="txtRole">
           <option selected>Chọn</option>
           <option value="all">Tất cả</option>
           <option value="1">Quản Trị</option>
           <option value="0">Nhân Viên</option>
          </select>
     
     </div>
    </div>
   </div>
   <div class="col-lg-4 text-right">
    <button class="btn btn-primary">
     <a asp-controller="User" asp-action="Create">
      <i class="anticon anticon-plus-circle m-r-5" style="color:azure;"></i>
      <span style="color:azure;">Thêm người dùng mới</span>
     </a>
    </button>
   </div>
  </div>
  <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
       @if (ViewBag.SuccessMsg != null)
        {
            <div class="alert alert-success" role="alert" id="msgAlert">
                @ViewBag.SuccessMsg
            </div>
        }
   </div>
  </div>
        
  <div class="table-responsive">
   <table class="table table-hover e-commerce-table" id="data-table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Tên tài khoản
            </th>
            <th>
                Tên
            </th>
            <th>
                Họ
            </th>
            <th>
                Email
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Ngày sinh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                 <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                <a asp-controller="User" asp-action="Details" asp-route-id="@item.Id">
                 <i class="anticon anticon-eye"></i>
                </a>
               </button>
               <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id">
                 <i class="anticon anticon-edit"></i>
                </a>

               </button>
               <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">
                 <i class="anticon anticon-delete"></i>
                </a>
               </button>
               <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                <a asp-controller="User" asp-action="RolesAssign" asp-route-id="@item.Id">
                 <i class="anticon anticon-sliders"></i>
                </a>
               </button>
            </td>
        </tr>
                }
    </tbody>
   </table>
  </div>
  @await Component.InvokeAsync("Pager", Model)
 </div>
</div>

@section Scripts{
    <script src="~/AdminAssets/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminAssets/vendors/datatables/dataTables.bootstrap.min.js"></script>
    <script>
     $('#data-table').DataTable();
     setTimeout(function() {
        $('#msgAlert').fadeOut('slow');
     }, 2000);
 </script>
}

