@using Microsoft.Extensions.Configuration
@model CollabClothing.ViewModels.Catalog.Products.ProductViewModel

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IConfiguration Configuration;
<h1>Chi tiết sản phẩm</h1>
<div class="page-header">
 <div class="header-sub-title">
  <nav class="breadcrumb breadcrumb-dash">
   <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
   <a class="breadcrumb-item" asp-controller="Product" asp-action="Index">Danh sách sản phẩm</a>
   <a class="breadcrumb-item" asp-controller="Product" asp-action="Details">Chi tiết sản phẩm</a>
  </nav>
 </div>
</div>
<div>
    <dl class="row">
        @{
            var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceCurrent)
        </dt>
        <dd class = "col-sm-10">
            @String.Format(format, "{0:c0}", @Model.PriceCurrent)
        </dd>
        <dt class = "col-sm-2">
             @Html.DisplayNameFor(model => model.PriceOld)
        </dt>
        <dd class = "col-sm-10">
            @String.Format(format, "{0:c0}", @Model.PriceOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Installment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Installment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbnailImage)
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.ThumbnailImage)*@
            <img src="@Configuration["BaseAddress"]@Model.ThumbnailImage" width="120px" height="120px" style="margin-left: 50px;"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = @Model.Id  }) |
    <a asp-action="Index">Trở lại</a>
</div>
