@model CollabClothing.ViewModels.Catalog.Products.ProductViewModel

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Chi tiết sản phẩm</h1>
<div class="page-header">
 <div class="header-sub-title">
  <nav class="breadcrumb breadcrumb-dash">
   <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
   <a class="breadcrumb-item" asp-controller="Product" asp-action="Index">Danh sách sản phẩm</a>
   <a class="breadcrumb-item" asp-controller="Product" asp-action="Details">Chi tiết sản phẩm</a>
  </nav>
 </div>
</div>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Installment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Installment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbnailImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThumbnailImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Trở lại</a>
</div>
