@model CollabClothing.ViewModels.Catalog.Products.WareHouseRequest

@{
	ViewData["Title"] = "Cập nhật số lượng trong kho";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cập nhật số lượng trong kho</h1>

<hr />
<div class="row">
 <div class="col-md-6">
		@if (ViewBag.SuccessMsg != null)
		{
	  <div class="alert alert-success" role="alert" id="msgAlert">
				@ViewBag.SuccessMsg
	  </div>
		}
 </div>
</div>
<div class="row">

 <div class="col-md-4">
  <form asp-controller="Product" asp-action="UpdateQuantityRemain" method="get">
   <div class="form-group col-md-6">
	<label asp-for="SizeId" class="font-weight-semibold"></label>
	<select asp-for="SizeId" class="custom-select" id="select-size" onchange="this.form.submit()" style="min-width:200px;" asp-items="ViewBag.Size">
	 <option value="" disabled selected>Chọn kích cỡ</option>
	</select>
	<label asp-for="ColorId" class="font-weight-semibold"></label>
	<select asp-for="ColorId" class="custom-select" id="select-color" onchange="this.form.submit()" style="min-width:200px;" asp-items="ViewBag.Color">
	 <option value="" disabled selected>Chọn màu</option>
	</select>
   </div>
  </form>
  <form asp-action="UpdateQuantityRemain">
   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
   <input type="hidden" asp-for="Id" value="@Model.Id"/>
   <input type="hidden" asp-for="SizeId" value="@Model.SizeId"/>
   <input type="hidden" asp-for="ColorId" value="@Model.ColorId"/>
   <div class="form-group">
	<label asp-for="Quantity" class="control-label"></label>
	<input asp-for="Quantity" class="form-control" />
	<span asp-validation-for="Quantity" class="text-danger"></span>
   </div>
   <div class="form-group">
	<input type="submit" value="Save" class="btn btn-primary" />
   </div>
  </form>
 </div>
</div>

<div>
 <a asp-action="Index">Back to List</a>
</div>

<script>
 setTimeout(function() {
	$('#msgAlert').fadeOut('slow');
 }, 2000);
</script>