
@{
	Layout = null;
}
@using CollabClothing.ViewModels.Catalog.Products
@using CollabClothing.ViewModels.Common
@using Microsoft.Extensions.Configuration
@model PageResult<ProductViewModel>
@inject IConfiguration Configuration

@foreach (var item in @Model.Items) {
	<div class="productCount col l-2-4 l-3-m m-4 c-6">
			 <div class="container-product__item">
			  <div class="container-product__item-heading">
			   <div class="container-product__item-img"
								 style="">
				<img src="@Configuration["BaseAddress"]@item.ThumbnailImage" alt="@item.ProductName">
			   </div>

			   <div class="container-product-guarantee">
				<a href="@item.Id" class="container-product__item-link">
				 <div class="container-product-guarantee__heading">
				  <img src="https://mobilecity.vn/public/assets/img/icon-mobilecity-care.png"
											 alt="Guarantee"
											 class="container-product-guarantee__heading-img">
				  <h3 class="container-product-guarantee__heading-text">
				   CollabClothing
				   Care
				  </h3>
				 </div>

				 <ul class="container-product-guarantee__list">
				  <li class="container-product-guarantee__item">Đổi trả nếu phát hiện hàng không chính hãng</li>
				  <li class="container-product-guarantee__item">
				   Đổi mới 30 ngày đầu
				   tiên
				  </li>
				  <li class="container-product-guarantee__item">Tặng voncher cho lần mua tiếp theo</li>
				 </ul>
				</a>
				<a href=${product.linkGuarantee}
								   class="container-product-guarantee__btn">Bảo hành vàng</a>
			   </div>
			  </div>
			  <div class="container-product__item-wrap">
			   <div class="container-product__item-info">
				<a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id" class="container-product__item-name">
											@item.ProductName
				</a>
				<i class="container-product__item-sale-icon fas fa-gift"></i>
			   </div>
			   <div class="container-product__item-buy">
				<span class="container-product__item-price">
											@{
												var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

											}
											@String.Format(format, "{0:c0}", @item.PriceCurrent )
				</span>
				<a href=${product.linkProduct} class="container-product__item-btn">MUA</a>
			   </div>
			  </div>
			  <ul class="container-product__item-gifts-list">
			   <li class="container-product__item-gift">
				<span class="container-product__item-span">Khuyến mãi</span>
				Tặng Phiếu mua hàng 1.500.000đ
			   </li>

			  </ul>
			  <ul class="container-product-marker__list">
			   <li class="container-product-marker__item container-product-marker__item--new">
				Mới
			   </li>
			   <li class="container-product-marker__item container-product-marker__item--hot">
				Hot
			   </li>
			  </ul>
			 </div>
			</div>
}

