@using CollabClothing.ViewModels.Catalog.Products
@using Microsoft.Extensions.Configuration
@model HomeViewModel
@{
	ViewData["Title"] = "Trang chủ";
}
@section Csss {
<link rel="stylesheet" type="text/css" href="~/assets/css/grid.css">
<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/index.css" />

}
@inject IConfiguration Configuration;
<div class="grid wide">
 <!-- Banner -->
	@await Component.InvokeAsync("Banner");
 <!-- Product Futured -->
	@await Component.InvokeAsync("ProductFeatured");
 <!-- Child Category Woman -->
	@await Component.InvokeAsync("CategoryChildMenu", "d93e95a9-38bd-4011-a457-29a763189a81")
 <!-- Filter Product -->
 <div class="col l-12 m-12 c-12">
  <div class="container-filter">
   <div class="container-filter__item">
	Giá từ cao đến thấp
	<i class="container-filter__icon-down fas fa-chevron-down"></i>
	<ul class="container-filter__list">
	 <li class="container-filter__list-item">
	  Giá từ cao đến thấp
	 </li>
	 <li class="container-filter__list-item">
	  Giá từ thấp đến cao
	 </li>
	</ul>
   </div>

   <div class="container-filter__item">
	Bán chạy
	<i class="container-filter__icon-down fas fa-chevron-down"></i>
	<ul class="container-filter__list">
	 <li class="container-filter__list-item">
	  Bán chạy
	 </li>
	 <li class="container-filter__list-item">
	  Phổ biến
	 </li>
	 <li class="container-filter__list-item">
	  Khuyến mãi
	 </li>
	 <li class="container-filter__list-item">
	  Hàng mới về
	 </li>
	</ul>
   </div>
  </div>
 </div>

 <div class="col l-12 m-12 c-12">
  <div class="container-product">
   <div class="row no-gutters phone-products">
	<!-- Thêm từng điện thoại vào -->
				@foreach (var item in Model.ListProductFeaturedByMen)
				{
		<div class="col l-2-4 l-3-m m-4 c-6">
		 <div class="container-product__item">
		  <div class="container-product__item-heading">
		   <div class="container-product__item-img">
			<img src="@Configuration["BaseAddress"]@item.ThumbnailImage" />
		   </div>

		   <div class="container-product-guarantee">
			<a href='#' class="container-product__item-link">
			 <div class="container-product-guarantee__heading">
			  <img src="https://mobilecity.vn/public/assets/img/icon-mobilecity-care.png"
											 alt="Guarantee"
											 class="container-product-guarantee__heading-img">
			  <h3 class="container-product-guarantee__heading-text">
			   CollabClothing
			  </h3>
			 </div>

			 <ul class="container-product-guarantee__list">
			  <li class="container-product-guarantee__item">
			   Hỗ trợ đổi trả trong
			   vòng 7 ngày
			  </li>
			  <li class="container-product-guarantee__item">
			   Cam kết hàng chính
			   hãng
			  </li>
			  <li class="container-product-guarantee__item">
			   Tặng Voncher cho các
			   lần mua sau
			  </li>
			  <li class="container-product-guarantee__item">
			   Hoàn tiền nếu phát
			   hiện hàng giả
			  </li>
			 </ul>
			</a>
			<a href='#' class="container-product-guarantee__btn">Bảo hành vàng</a>
		   </div>
		  </div>
		  <div class="container-product__item-wrap">
		   <div class="container-product__item-info">
			<a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id" class="container-product__item-name">
										@item.ProductName
			</a>
			<i class="container-product__item-sale-icon fas fa-gift"></i>
		   </div>
								@{
									// define format VND
									var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

								}
		   <div class="container-product__item-buy">
			<span class="container-product__item-price">
										@*@Model.ParseToVND(@item.PriceCurrent)*@

			 <div class="cta-btn">
			  <span class="old-price">@String.Format(format, "{0:c0}", @item.PriceOld )</span>
			  <span class="new-price">@String.Format(format, "{0:c0}", @item.PriceCurrent )</span>
			 </div>
			</span>
			<a href='#' class="container-product__item-btn">MUA</a>
		   </div>
		  </div>
		  <ul class="container-product__item-gifts-list">
		   <li class="container-product__item-gift">
			1. Cam kết:
			<span class="container-product__item-gift--highlight">
			 Hàng chính hãng
			</span>
			khi mua BHV
		   </li>
		   <li class="container-product__item-gift">
			2. Voncher:
			<span class="container-product__item-gift--highlight">
			 Lên tới 100k
			</span>
		   </li>
		  </ul>
		  <ul class="container-product-marker__list ${markers}">
		   <li class="container-product-marker__item container-product-marker__item--new">
			Mới
		   </li>
		   <li class="container-product-marker__item container-product-marker__item--hot">
			Hot
		   </li>
		  </ul>
		 </div>
		</div>
				}

   </div>
  </div>
 </div>

 <div class="col l-12 m-12 c-12">
  <div class="container-view-more">
   <a id="next" class="container-btn-extend">Xem thêm sản phẩm</a>
			@*<a data-ajax="true"
				data-ajax-loading="loader"
				data-ajax-mode="replace"
				data-ajax-update="change"
				href='@Url.Action("Index", "Home")'
				class="container-btn-extend">Xem thêm sản phẩm
				</a>*@
  </div>
 </div>


 <!-- Product Tool -->
 <div class="row container__item">
  <div class="col l-12 m-12 c-12">
   <div class="banner">
	<div class="row">
	 <div class="col l-6 m-6 c-0">
	  <a href="#" class="banner__link">
	   <img src="https://cdn.mobilecity.vn/mobilecity-vn/images/2020/08/airpod-2-2.jpg"
								 alt="Banner 1" class="banner__img">
	  </a>
	 </div>
	 <div class="col l-6 m-6 c-0">
	  <a href="#" class="banner__link">
	   <img src="https://cdn.mobilecity.vn/mobilecity-vn/images/2019/11/untitled-1.jpg"
								 alt="Banner 2" class="banner__img">
	  </a>
	 </div>
	</div>
   </div>
  </div>
		@await Component.InvokeAsync("CategoryChildMenu", "82AAE383-3EDF-45F0-AA5B-9B4A514EA7A9")

  <div class="col l-12 m-12 c-12">
   <div class="container-filter">
	<div class="container-filter__item">
	 Giá từ cao đến thấp
	 <i class="container-filter__icon-down fas fa-chevron-down"></i>
	 <ul class="container-filter__list">
	  <li class="container-filter__list-item">
	   Giá từ cao đến thấp
	  </li>
	  <li class="container-filter__list-item">
	   Giá từ thấp đến cao
	  </li>
	 </ul>
	</div>

	<div class="container-filter__item">
	 Bán chạy
	 <i class="container-filter__icon-down fas fa-chevron-down"></i>
	 <ul class="container-filter__list">
	  <li class="container-filter__list-item">
	   Bán chạy
	  </li>
	  <li class="container-filter__list-item">
	   Phổ biến
	  </li>
	  <li class="container-filter__list-item">
	   Khuyến mãi
	  </li>
	  <li class="container-filter__list-item">
	   Hàng mới về
	  </li>
	 </ul>
	</div>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-product">
	<div class="row no-gutters tool-products">
	 <!-- Thêm phụ kiện -->
					@foreach (var item in Model.ListProductFeaturedByWoman)
					{
		 <div class="col l-2-4 l-3-m m-4 c-6">
		  <div class="container-product__item">
		   <div class="container-product__item-heading">
			<div class="container-product__item-img">
			 <img src="@Configuration["BaseAddress"]@item.ThumbnailImage" />
			</div>

			<div class="container-product-guarantee">
			 <a href='#' class="container-product__item-link">
			  <div class="container-product-guarantee__heading">
			   <img src="https://mobilecity.vn/public/assets/img/icon-mobilecity-care.png"
												 alt="Guarantee"
												 class="container-product-guarantee__heading-img">
			   <h3 class="container-product-guarantee__heading-text">
				CollabClothing
			   </h3>
			  </div>

			  <ul class="container-product-guarantee__list">
			   <li class="container-product-guarantee__item">
				Hỗ trợ đổi trả trong
				vòng 7 ngày
			   </li>
			   <li class="container-product-guarantee__item">
				Cam kết hàng chính
				hãng
			   </li>
			   <li class="container-product-guarantee__item">
				Tặng Voncher cho các
				lần mua sau
			   </li>
			   <li class="container-product-guarantee__item">
				Hoàn tiền nếu phát
				hiện hàng giả
			   </li>
			  </ul>
			 </a>
			 <a href='#' class="container-product-guarantee__btn">Bảo hành vàng</a>
			</div>
		   </div>
		   <div class="container-product__item-wrap">
			<div class="container-product__item-info">
			 <a href="#" class="container-product__item-name">
											@item.ProductName
			 </a>
			 <i class="container-product__item-sale-icon fas fa-gift"></i>
			</div>
									@{
										// define format VND
										var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

									}
			<div class="container-product__item-buy">
			 <span class="container-product__item-price">
											@*@Model.ParseToVND(@item.PriceCurrent)*@

			  <div class="cta-btn">
			   <span class="old-price">@item.PriceOld</span>
			   <span class="new-price">@String.Format(format, "{0:c0}", @item.PriceCurrent )</span>
			  </div>
			 </span>
			 <a href='#' class="container-product__item-btn">MUA</a>
			</div>
		   </div>
		   <ul class="container-product__item-gifts-list">
			<li class="container-product__item-gift">
			 1. Cam kết:
			 <span class="container-product__item-gift--highlight">
			  Hàng chính hãng
			 </span>
			 khi mua BHV
			</li>
			<li class="container-product__item-gift">
			 2. Voncher:
			 <span class="container-product__item-gift--highlight">
			  Lên tới 100k
			 </span>
			</li>
		   </ul>
		   <ul class="container-product-marker__list ${markers}">
			<li class="container-product-marker__item container-product-marker__item--new">
			 Mới
			</li>
			<li class="container-product-marker__item container-product-marker__item--hot">
			 Hot
			</li>
		   </ul>
		  </div>
		 </div>
					}
	</div>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-view-more">
	<a href="#" class="container-btn-extend">Xem thêm phụ kiện</a>
   </div>
  </div>
 </div>

 <!-- Product Fix -->
 <div class="row container__item">
  <div class="col l-12 m-12 c-12">
   <div class="banner">
	<div class="row">
	 <div class="col l-6 m-6 c-0">
	  <a href="#" class="banner__link">
	   <img src="https://cdn.mobilecity.vn/mobilecity-vn/images/2020/08/airpods-pro-rep.jpg"
								 alt="Banner 1" class="banner__img">
	  </a>
	 </div>
	 <div class="col l-6 m-6 c-0">
	  <a href="#" class="banner__link">
	   <img src="https://cdn.mobilecity.vn/mobilecity-vn/images/2020/08/airpod-2-3.jpg"
								 alt="Banner 2" class="banner__img">
	  </a>
	 </div>
	</div>
   </div>
  </div>

		@await Component.InvokeAsync("CategoryChildMenu", "29919101-ff6c-466f-907b-66a2f669be7f")

  <div class="col l-12 m-12 c-12">
   <div class="container-filter">
	<div class="container-filter__item">
	 Giá từ cao đến thấp
	 <i class="container-filter__icon-down fas fa-chevron-down"></i>
	 <ul class="container-filter__list">
	  <li class="container-filter__list-item">
	   Giá từ cao đến thấp
	  </li>
	  <li class="container-filter__list-item">
	   Giá từ thấp đến cao
	  </li>
	 </ul>
	</div>

	<div class="container-filter__item">
	 Bán chạy
	 <i class="container-filter__icon-down fas fa-chevron-down"></i>
	 <ul class="container-filter__list">
	  <li class="container-filter__list-item">
	   Bán chạy
	  </li>
	  <li class="container-filter__list-item">
	   Phổ biến
	  </li>
	  <li class="container-filter__list-item">
	   Khuyến mãi
	  </li>
	  <li class="container-filter__list-item">
	   Hàng mới về
	  </li>
	 </ul>
	</div>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-product">
	<div class="row no-gutters fix-products">
	 <!-- Thêm sản phẩm -->
					@foreach (var item in Model.ListProductFeaturedByChild)
					{
		 <div class="col l-2-4 l-3-m m-4 c-6">
		  <div class="container-product__item">
		   <div class="container-product__item-heading">
			<div class="container-product__item-img">
			 <img src="@Configuration["BaseAddress"]@item.ThumbnailImage" />
			</div>

			<div class="container-product-guarantee">
			 <a href='#' class="container-product__item-link">
			  <div class="container-product-guarantee__heading">
			   <img src="https://mobilecity.vn/public/assets/img/icon-mobilecity-care.png"
												 alt="Guarantee"
												 class="container-product-guarantee__heading-img">
			   <h3 class="container-product-guarantee__heading-text">
				CollabClothing
			   </h3>
			  </div>

			  <ul class="container-product-guarantee__list">
			   <li class="container-product-guarantee__item">
				Hỗ trợ đổi trả trong
				vòng 7 ngày
			   </li>
			   <li class="container-product-guarantee__item">
				Cam kết hàng chính
				hãng
			   </li>
			   <li class="container-product-guarantee__item">
				Tặng Voncher cho các
				lần mua sau
			   </li>
			   <li class="container-product-guarantee__item">
				Hoàn tiền nếu phát
				hiện hàng giả
			   </li>
			  </ul>
			 </a>
			 <a href='#' class="container-product-guarantee__btn">Bảo hành vàng</a>
			</div>
		   </div>
		   <div class="container-product__item-wrap">
			<div class="container-product__item-info">
			 <a href="#" class="container-product__item-name">
											@item.ProductName
			 </a>
			 <i class="container-product__item-sale-icon fas fa-gift"></i>
			</div>
									@{
										// define format VND
										var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

									}
			<div class="container-product__item-buy">
			 <span class="container-product__item-price">
											@*@Model.ParseToVND(@item.PriceCurrent)*@

			  <div class="cta-btn">
			   <span class="old-price">@item.PriceOld</span>
			   <span class="new-price">@String.Format(format, "{0:c0}", @item.PriceCurrent )</span>
			  </div>
			 </span>
			 <a href='#' class="container-product__item-btn">MUA</a>
			</div>
		   </div>
		   <ul class="container-product__item-gifts-list">
			<li class="container-product__item-gift">
			 1. Cam kết:
			 <span class="container-product__item-gift--highlight">
			  Hàng chính hãng
			 </span>
			 khi mua BHV
			</li>
			<li class="container-product__item-gift">
			 2. Voncher:
			 <span class="container-product__item-gift--highlight">
			  Lên tới 100k
			 </span>
			</li>
		   </ul>
		   <ul class="container-product-marker__list ${markers}">
			<li class="container-product-marker__item container-product-marker__item--new">
			 Mới
			</li>
			<li class="container-product-marker__item container-product-marker__item--hot">
			 Hot
			</li>
		   </ul>
		  </div>
		 </div>
					}
	</div>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-view-more">
	<a href="#" class="container-btn-extend">Xem thêm</a>
   </div>
  </div>
 </div>
</div>

@section Scripts {
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
@*<script>
	$("#next").click(function () {
	GetData();
	});

	function GetData() {

	$.ajax({
	type: "GET",
	url: '@Url.Action("Index" ,"Home")',
	dataType: "json",
	success:
	error: function () { alert('Niesukces'); },
	});
	}
	</script>*@
	@*<script>
	 $(".col l-2-4 l-3-m m-4 c-6").slice(0,2).show();
	 $("#next").on("click", function() {
		 $(".col l-2-4 l-3-m m-4 c-6:hidden").slice(0,2).show();
		 if ($(".col l-2-4 l-3-m m-4 c-6:hidden").length == 0) {
			  $("#next").fadeOut();
		 }
	 });
 </script>*@
}